/* Changed color and background-color */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    color: #f4f4f4;
    background-color: #303030;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Bootstrap CSS Overides */
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #8d8787;
}
.jumbotron {
    color: #000000;
    background-color: #d8d8d8;
}

.ref {
    font-size: small; 
}