@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Anime Show Listings</h1>
    <p class="lead">View, add, edit, and delete shows, including raiting.</p>
    <p><a class="btn btn-primary btn-lg" @Html.ActionLink("Browse Now", "Index", "Series")</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Start by viewing the Shows or Genres. You can add new shows and genres as well as edit existing ones.
        </p>
        <p><a class="btn btn-primary btn-lg" @Html.ActionLink("Browse Series", "Index", "Series")</a></p>
        
    </div>
        <div class="col-md-4">
            <h2>Browse By Genre</h2>
            <p>
            You can also select a genre to browse all shows with that genre. Each show can currently only have one genre or raiting.
            </p>
            <p><a class="btn btn-primary btn-lg" @Html.ActionLink("Browse Genres", "Index", "Genres")</a></p>
        </div>
    </div>
